body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: #e7ecef;
  color: #274c77;
}

.shaded-background {
  text-align: center;
  background-color: #C1D5EB;
}

.shaded-background > ul {
  padding-left: 0;
  display: inline-block;
}

.shaded-background > ul li {
  text-align: left;
}

h2 {
  text-align: center;
}

header {
  background-color: #19314d;
}
.heading {
  display: flex;
  flex-direction: column;
  padding: 0 0 5px 0;
}
.logo {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 56px;
  color: #e7ecef;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 10px 0 0 0;
}

section {
  padding: 2%;
}

h3 {
  color:#e7ecef;
  text-align: center;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
  
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

header nav ul li a {
  color: #e7ecef;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #a3cef1;
}

img {
  width: 100%;
}

main {
  display: block;
  margin-top: 10px;
}

.about {
  display: flex;
  flex-direction: row;
}

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  header nav {
    margin-top: 25px;
  }
  section {
    padding: 5%;
  }
  .group {
    flex-direction: row;
  }
}
form {
  padding-right: 8px;
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}