body {
  text-align: center;
  font-size: 22px;
  font-family: Georgia;
  color: #1f7a8c;
  background: #bfdbf7;
}
h1 {
  font-family: Georgia;
  font-size: 60px;
}
header {
  color: #bfdbf7;
  background-color: #022b3a;
}
